{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <h1 class="text-center display-6">Change password</h1>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url "profiles:profile" %}" type="submit" class="btn btn-dark"><i class="bi bi-arrow-left-short"></i> Back</a>
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Change password</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#id_old_password, #id_new_password1, #id_new_password2').addClass('form-control');
    </script>
{% endblock %}