{% extends "base.html" %}

{% block title %}{% if object %}Edit Task{% else %}Create Task{% endif %}{% endblock %}

{% block content %}
  <h2 class="text-center display-6">{% if object %}Edit Task{% else %}Create Task{% endif %}</h2>
    <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-group">
        <a class="btn btn-dark" href="{% url 'tasks:tasks' %}">Cancel</a>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
{% endblock %}
