{% extends "base.html" %}

{% block title %}My Tasks{% endblock %}

{% block content %}
    <h1 class="display-6 text-center">ToDo list <i class="bi bi-list-task text-success"></i><sup>{{ tasks.count }}</sup></h1>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">+ Add</button>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks.all %}
        <tr{% if task.completed %} class="text-decoration-line-through"{% endif %}>
            <th scope="row" style="width: 50px">{{ forloop.counter }}</th>
            <td style="width: 50px">
                {% if task.completed %}
                    <i class="bi bi-check-circle text-success" style="font-size: 24px;"></i>
                {% else %}
                    <i class="bi bi-exclamation-circle text-danger" style="font-size: 24px;"></i>
                {% endif %}</td>
{#            <td style="width: 50px">{% if task.priority == "HIGH" %}<i class="bi bi-exclamation-circle" style="color: #dc3545; font-size: 24px;"></i>{% elif task.priority == "LOW" %}<i class="bi bi-check-circle" style="color: #28a745; font-size: 24px;"></i>{% else %}<i class="bi bi-exclamation-triangle" style="color: #ffc107; font-size: 24px;"></i>{% endif %}</td>#}
            <td style="width: 50px;" class="text-{% if task.priority == "HIGH" %}danger{% elif task.priority == "LOW" %}success{% else %}warning{% endif %}">{{ task.priority }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description|linebreaks|urlize }}</td>
            <td style="width: 250px">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="View task" type="button" class="btn btn-dark"><i class="bi bi-search"></i></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Changing a task" type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Deleting a task" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}