{% extends "base.html" %}

{% block title %}My Tasks{% endblock %}

{% block content %}
    <h1 class="display-6 text-center">ToDo list <i class="bi bi-list-task text-success"></i><sup>{{ tasks.count }}</sup></h1>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url "tasks:task_create" %}" type="button" class="btn btn-success">+ Add</a>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table id="Tasks" class="table table-hover table-bordered">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks.all %}
        <tr{% if task.completed %} class="text-decoration-line-through"{% endif %}>
            <th scope="row" style="width: 50px">{{ forloop.counter }}</th>
            <td style="width: 50px">
                {% if task.completed %}
                    <i class="bi bi-check-circle text-success" style="font-size: 24px;"></i>
                {% else %}
                    <i class="bi bi-hourglass-split text-warning" style="font-size: 24px;"></i>
                {% endif %}</td>
            <td style="width: 50px;" class="text-{% if task.priority == "HIGH" %}danger{% elif task.priority == "LOW" %}success{% else %}warning{% endif %}">{{ task.priority }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description|linebreaks|urlize }}</td>
            <td style="width: 250px">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url "tasks:task_detail" task.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View task" type="button" class="btn btn-dark"><i class="bi bi-search"></i></a>
                    <a href="{% url "tasks:task_update" task.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Changing a task" type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a>
                    <a onclick="return confirm('Are you sure?')" href="{% url "tasks:task_delete" task.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Deleting a task" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    {% if task.completed %}
                        <a onclick="return confirm('Are you sure?')" href="{% url "tasks:toggle_task_completion" task.pk %}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as not complete"><i class="bi bi-hourglass-split"></i></a>
                    {% else %}
                        <a onclick="return confirm('Are you sure?')" href="{% url "tasks:toggle_task_completion" task.pk %}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as complete"><i class="bi bi-check2-circle"></i></a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block js %}
    <script>
    $(document).ready(function() {
            $('#Tasks').DataTable({
                language: {
                    "decimal":        ",",
                    "emptyTable":     "No data in table",
                    "info":           "Showing _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty":      "Showing 0 to 0 of 0 entries",
                    "infoFiltered":   "(filtered from _MAX_ records)",
                    "infoPostFix":    "",
                    "thousands":      ".",
                    "lengthMenu":     "Show _MENU_ entries",
                    "loadingRecords": "Loading...",
                    "processing":     "Processing...",
                    "search":         "Search:",
                    "zeroRecords":    "No records found",
                    "paginate": {
                        "first":      "First",
                        "last":       "The last one",
                        "next":       "Next",
                        "previous":   "Previous"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort the column in ascending order",
                        "sortDescending": ": activate to sort the column in descending order"
                    }
                }
            });

        });
    </script>
{% endblock %}